<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <title>About Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/test/static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/test/static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/test/static/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="static/ico/apple-touch-icon-57-precomposed.png">

  </head>

  <body>




    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="http://resourcepool.us/welcome/default/index">Home</a></li>
              <li class="active"><a href="http://resourcepool.us/welcome/default/about_me">About Me</a></li>
              <li><a href="http://resourcepool.us/welcome/default/examples">Examples</a></li>
              <li><a href="http://resourcepool.us/welcome/default/pricing">Pricing</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    
    
      <div class="container">   
<div class="floatRight" style="float:right">
    <div class="btn-group">    
        <a class="btn btn-success" href="mailto:admin@resourcepool.us"> <i class="icon-user icon-white"></i>  Contact     
        </a>
        <a class="btn btn-success" href="http://www.resourcepool.us/welcome/static/resume.pdf"> <i class="icon-briefcase icon-white"></i>  Resume 
        </a>
    </div>               
</div>




<h1> Tim Olejniczak <small> Web Consulting and Development</small> </h1> <hr />


        <div class="span4">
            <div class="well">
                <div class="avatar">
                    <img src="/welcome/static/images/me.JPG" />
                </div><!--/avatar -->
                <br class="clearfix" />
                
                <div class="bio">
                    <h2>Contact Info:</h2>
                </div><!--/bio -->
                <br class="clearfix" />
                
                <div class="contact">
                    <p><i class="icon-map-marker"></i>: Santa Cruz, CA 95060 </p>
                    <p><i class="icon-signal"></i>: (209) 628-0438 </p>
                    <p><i class="icon-envelope"></i>: admin@resourcepool.us </p>
                </div><!--/contact -->
                <br class="clearfix" />
                
                
            </div><!--/.well -->
        </div><!--/span-->




<div class="span10" style="width: 600px">


          <div class="bs-docs-example">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#home" data-toggle="tab">Cover Letter</a></li>
              <li><a href="#profile" data-toggle="tab">Resume</a></li>

            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade in active" id="home">
                    <p style="font-size: 14px"> &nbsp;&nbsp;&nbsp;&nbsp;
    Hello, my name is Tim Olejniczak. Thank you for taking the time to look over my work. I am a recent graduate of the University of California: Santa Cruz, where I studied
Psychology and Information Systems Management. I have always been fascinated by systems;
whether they are the man-made systems of a computer program, or the natural workings of the
mind. I am especially interested in how the former seems to mimic the latter. Currently, I am
working at a small company, Qii2, that provides data driven web applications for businesses in
the bay area. I have roughly 5 years of experience programming in Python, Java, and HTML.<br />

&nbsp;&nbsp;&nbsp;&nbsp;My time at Qii2 has given me the opportunity to oversee the developmental process from
start to finish. I am well equipped to deal with the various obstacles that arise, as I have been
involved, to various degrees, in every step of the process. This includes: Identifying the needs of
the client, constructing a realistic budget depending on the needs of management, outlining the
application structure, designing data models, writing code, adding aesthetically pleasing CSS,
and JS, optimizing servers for specific applications, and managing those servers once the
application is live.
    </p>
              </div>
              <div class="tab-pane fade" id="profile">
<div class="indent" style="margin-left: 20px">

    <p><h3><i class="icon-book"></i> Education</h3>
    <h4>University of California: Santa Cruz <small>– 2007 to 2011</small></h4>
    <ul>
        <li>Psychology</li>
        <li>Information Systems Management</li>
    </ul>
<br />
    <p><h3><i class="icon-briefcase"></i> Work Experience</h3>
    <ul>
    <li><h4>Qii2 Systems - Web Development / Data Analysis <small>– 8/11 to present</small></h4></li>
    <ul>
        <li>Communicated with management to assess needs</li>
        <li>Built custom web applications using a Python/MySQL based web framework</li>
        <li>Performed data analysis using SPSS</li>
    </ul>
    
    <li><h4>UCSC: Learning Support Services -Tutor/Supplemental Instructor <small>– 9/09 to 1/11</small></h4></li>
    <ul>
        <li>Developed lesson plans</li>
        <li>Worked with students in one-on-one and group setting</li>
        <li>Managed student progress</li>
    </ul> 
  </ul>
  <br />  
    <p><h3><i class="icon-globe"></i> Personal Interests</h3>    
    <ul>
        <li>Music</li>
        <li>Sustainable living</li>
        <li>Programming</li>
        <li>Hiking</li>
    </ul>  
</ul> 
    </p>
    </div>                
              </div>
              
            </div>
          </div>

 
<script>
  $(function () {
    $('#myTab a:last').tab('show');
  })
</script>


    <hr />
    
    </div>
     </div>
     
     
         <script src="/test/static/js/jquery.js"></script>
    <script src="/test/static/js/bootstrap-transition.js"></script>
    <script src="/test/static/js/bootstrap.js"></script>
    <script src="/test.static/js/bootstrap.min.js"></script>
