<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <title>Pricing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/welcome/static/css/bootstrap.css" rel="stylesheet">
        <link href="/welcome/static/css/custom.css" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/welcome/static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/welcome/static/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="static/ico/apple-touch-icon-57-precomposed.png">

  </head>

  <body>




    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="http://resourcepool.us/welcome/default/index">Home</a></li>
              <li><a href="http://resourcepool.us/welcome/default/about_me">About Me</a></li>
              <li><a href="http://resourcepool.us/welcome/default/examples">Examples</a></li>
              <li class="active"><a href="http://resourcepool.us/welcome/default/pricing">Pricing</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    
    
      <div class="container">   
<div class="floatRight" style="float:right">
    <div class="btn-group">    
        <a class="btn btn-success" href="mailto:admin@resourcepool.us"> <i class="icon-user icon-white"></i>  Contact     
        </a>
        <a class="btn btn-success" href="http://www.resourcepool.us/welcome/static/resume.pdf"> <i class="icon-briefcase icon-white"></i>  Resume 
        </a>
    </div>               
</div>




<h1> Tim Olejniczak <small> Web Consulting and Development</small> </h1> <hr />
    
     
               <div class="row-fluid">
        

        <div class="span4 well pricehover">
          <div class="price"><h2>Domain</h2></div>
          <br />
                    <h3> $49.99 - $99.99 </h3>                   
                    
          <ul class="unstyled pricing animated fadeIn ">
                    <li> Domain name registration</li>
                    <li> Allocation of server space</li>
                    <li> Transfer of pre-existing site </li>
                    <li> Social Network Integration </li>
          </ul>
                    <p>
                     This option is perfect for those who have a preexisting blog, but would like to add a professional domain name, increased capacity, and Search Engine Optimization. </p>


        </div>

        <div class="span4 well pricehover">
          <div class="price"><h2>Website</h2></div>
          <br />
          <h3> $99.99 - $149.99 </h3>
           <p> Includes all services included in the Domain and Server package, as well as:
          <ul class="unstyled pricing animated fadeIn ">
                    <li> Your choice of template, as shown under <a href="//www.resourcepool.us/welcome/default/examples"> examples </a></li>
                    <li> Basic design and content organization </li>
                    
                    <li> A personal content management interface </li>
          </ul>
           <p>This option is perfect for an individual or organization who wants to get their website up and running fast, with little maintenance or upkeep. 
                    </p>


        </div>

        <div class="span4 well pricehover">
          <div class="price"><h2>Custom</h2></div>
          <br />
                          <h3> $199 and up </h3>
                                     <p> Includes all services included in the Domain and Server package, as well as:
          <ul class="unstyled pricing animated fadeIn">
                    <li> A cusstom website layout designed for your needs </li>
                    <li> Full content management and design </li>
                    <li> Email and database capacity </li> 
                    <li> Search Engine Optimization</li>    

          </ul>

<p>                     This package is best suited for small business and organizations that need a website catered to their specific needs. This option also includes user login and authentication, web based data storage, personal email addresses, and more.
                    </p>
        </div>




      </div>
    </div>
